สวัสดี {{headman_fullname}}
<br>
มีพนักงานต้องการขอ {{leave_type}}
<br>
้อมูลผู้ลา
<br>
รหัสพนักงาน : {{owner_emp_id}}
<br>
ชื่อ-นามสกุล : {{owner_fullname}}
<br>
เนื่องจาก : {{leave_because}}
<br>
ขอลาหยุดในวันที่
<br>
{{leave_start_date}}
<br>
จนถึง
{{leave_end_date}}
<br>
จากที่เคยขอวันที่
<br>
{{leave_old_start_date}}
<br>
จนถึง
<br>
{{leave_old_end_date}}
<br>
รวมเป็นจำนวน {{leave_sum}}
<br>
<br>
<a href="{{siteurl}}/Leave/instant_headman_approve_disapprove_from_email/approve/{{headmanid}}/{{leaveid}}">อนุมัติ</a> &nbsp;/&nbsp;
<a href="{{siteurl}}/Leave/instant_headman_approve_disapprove_from_email/disapprove/{{headmanid}}/{{leaveid}}">ไม่อนุมัติ</a>
